/*
(c) Joe Ciavucco // Ciavuc.co
*/
/* line 5, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Partials */
/* mixins.scss */
/*_variables.scss */
/* Body Text Styles */
/*_typography.scss*/
/* line 2, ../sass/_partials/_typography.scss */
body {
  color: #fff;
  font-size: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/* line 9, ../sass/_partials/_typography.scss */
.serif {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 12, ../sass/_partials/_typography.scss */
a {
  color: #FFF;
}

/* line 15, ../sass/_partials/_typography.scss */
h1, h2, h3, h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 21, ../sass/_partials/_typography.scss */
a {
  text-decoration: none;
}

/* line 25, ../sass/_partials/_typography.scss */
.text a {
  color: #000;
}
/* line 28, ../sass/_partials/_typography.scss */
.text h2 {
  font-size: 18pt;
}
/* line 31, ../sass/_partials/_typography.scss */
.text p {
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  margin-bottom: 1.2em;
}
/* line 37, ../sass/_partials/_typography.scss */
.text img {
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}
/* line 42, ../sass/_partials/_typography.scss */
.text em {
  font-size: 12pt;
  letter-spacing: 2pt;
  position: relative;
  text-transform: uppercase;
  font-weight: 100;
}
/* line 49, ../sass/_partials/_typography.scss */
.text em:after {
  position: absolute;
  width: 50px;
  height: 1px;
  background: #212a2e;
  content: "";
  bottom: -8px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

/*_header.scss */
/* Header Styles */
/* line 3, ../sass/_partials/_header.scss */
.navigation {
  z-index: 999;
  position: absolute;
  bottom: 2.5%;
  left: 0;
  font-size: 18pt;
  letter-spacing: 0.5pt;
}
/* line 11, ../sass/_partials/_header.scss */
.navigation li a {
  z-index: 999;
  background: #000000;
  padding: 5px 0 5px 2.5vw;
  color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  position: relative;
}
/* line 19, ../sass/_partials/_header.scss */
.navigation li a:before {
  content: "";
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 1px;
  opacity: 0.5;
  left: 0;
  background-color: #FFF;
  z-index: -1;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 30, ../sass/_partials/_header.scss */
.navigation li a:hover {
  color: white;
}
/* line 32, ../sass/_partials/_header.scss */
.navigation li a:hover:before {
  width: 115%;
}

/*_footer.scss */
/* Footer Styles */
/* line 3, ../sass/_partials/_footer.scss */
.clearFooter {
  clear: both;
}

/*_layout.scss */
/* Layout */
/* line 3, ../sass/_partials/_layout.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/_partials/_layout.scss */
html {
  height: 100%;
  overflow-y: scroll;
}

/* line 12, ../sass/_partials/_layout.scss */
body {
  height: 100%;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #000000;
}

/* line 18, ../sass/_partials/_layout.scss */
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* line 23, ../sass/_partials/_layout.scss */
#holder {
  min-height: 100%;
  position: relative;
}

/* line 27, ../sass/_partials/_layout.scss */
.content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* line 32, ../sass/_partials/_layout.scss */
.contentSmall {
  width: 900px;
  margin: 0 auto;
}

/* line 36, ../sass/_partials/_layout.scss */
.flex {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 40, ../sass/_partials/_layout.scss */
.flex-v-center {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

/* line 44, ../sass/_partials/_layout.scss */
.flex-center {
  -webkit-justify-content: center;
  justify-content: center;
}

/*_responsive.scss */
/* Responsive Styles */
@media only screen and (max-width: 730px) {
  /* line 4, ../sass/_partials/_responsive.scss */
  .frontPage .introduction {
    width: 100% !important;
  }
}
/* line 1, ../sass/_partials/_home.scss */
.frontPage {
  width: 90%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background: #000000;
}
/* line 10, ../sass/_partials/_home.scss */
.frontPage h2 {
  font-size: 25px;
  margin-bottom: 30px;
  opacity: 0.5;
}
/* line 15, ../sass/_partials/_home.scss */
.frontPage .introduction {
  font-size: 30px;
  line-height: 45px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 100%;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 26, ../sass/_partials/_home.scss */
.frontPage .introduction .text {
  width: 100%;
  text-align: left;
}
/* line 29, ../sass/_partials/_home.scss */
.frontPage .introduction .text p {
  margin-bottom: 10px;
}
/* line 32, ../sass/_partials/_home.scss */
.frontPage .introduction .text .email {
  opacity: 0.7;
}
/* line 35, ../sass/_partials/_home.scss */
.frontPage .introduction .text a {
  color: dodgerblue;
  text-decoration: underline;
  display: inline-block;
}

/* line 44, ../sass/_partials/_home.scss */
.wolf {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 38px;
  z-index: 99999;
  opacity: 0.6;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 52, ../sass/_partials/_home.scss */
.wolf:hover {
  opacity: 1;
}

/* line 56, ../sass/_partials/_home.scss */
.do {
  position: fixed;
  bottom: 24px;
  right: 90px;
  font-size: 38px;
  z-index: 99999;
  width: 127px;
  height: 31px;
  opacity: 0.5;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 66, ../sass/_partials/_home.scss */
.do:hover {
  opacity: 1;
}
/* line 69, ../sass/_partials/_home.scss */
.do:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("/inc/img/do.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*# sourceMappingURL=style.css.map */
