/*_header.scss */
/* Header Styles */
.navigation{
  z-index: 999;
  position: absolute;
  bottom: 2.5%;
  left: 0;
  font-size: 18pt;
  letter-spacing: 0.5pt;
  li{
    a{
      z-index: 999;
      background: $primary-color;
      padding: 5px 0 5px 2.5vw;
      color: rgba(255,255,255,0.3);
      display: inline-block;
      @include default-transition;
      position: relative;
      &:before{
        content: "";
        @include vertical-center;
        width: 0;
        height: 1px;
        opacity: 0.5;
        left: 0;
        background-color: #FFF;
        z-index: -1;
        @include default-transition;
      }
      &:hover{
        color: rgba(255,255,255,1);
        &:before{
          width: 115%;
        }
      }
    }
  }
}
