.frontPage{
  width: 90%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background: $primary-color;
  h2{
    font-size: 25px;
    margin-bottom: 30px;
    opacity: 0.5;
  }
  .introduction{
    font-size: 30px;
    line-height: 45px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 100%;
    @include flex-v-center;
    @include flex-center;
    .text{
      width: 100%;
      text-align: left;
      p{
        margin-bottom: 10px;
      }
      .email{
        opacity: 0.7;
      }
      a{
        color: dodgerblue;
        text-decoration: underline;
        display: inline-block;
      }
    }
  }
}

.wolf{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 38px;
  z-index: 99999;
  opacity: 0.6;
  @include default-transition;
  &:hover{
    opacity: 1;
  }
}
.do{
  position: fixed;
  bottom: 24px;
  right: 90px;
  font-size: 38px;
  z-index: 99999;
  width: 127px;
  height: 31px;
  opacity: 0.5;
  @include default-transition;
  &:hover{
    opacity: 1;
  }
  &:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url('/inc/img/do.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}