/*_layout.scss */
/* Layout */
* {
	margin: 0;
	padding: 0;
  @include box-sizing
}
html {
	height: 100%;
	overflow-y: scroll;
}
body {
	height: 100%;
	margin: 0 auto;
	font-family: $primary-font;
	background-color: $primary-color;
}
.container{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#holder {
	min-height: 100%;
	position: relative;
}
.content {
	width: 1200px;
	margin: 0 auto;
  position: relative;
}
.contentSmall {
	width: 900px;
	margin: 0 auto;
}
.flex{
  @include flex-layout;
	flex-wrap: wrap;
}
.flex-v-center{
  @include align-items(center);
  @include flex-layout;
}
.flex-center{
  @include flex-center;
}
