/* mixins.scss */

@mixin flex-layout {
  @include display-flex;
  flex-wrap: wrap;
}
@mixin flex-center{
  @include justify-content(center);
}
@mixin flex-v-center {
  @include align-items(center);
  @include flex-layout;
}
@mixin vertical-center {
  position: absolute;
  top: 50%;
  @include translateY(-50%)
}
@mixin default-transition {
  @include transition(0.25s);
}
@mixin slow-transition {
  @include transition(1s);
}
@mixin background-cover {
  @include background-size;
}
@mixin background-pos-center {
  background-position: center;
}
