/*_typography.scss*/
body {
  color: $text-color;
  font-size: $primary-font-size;
  font-family: $primary-font;
  font-weight: $primary-font-weight;
  -webkit-font-smoothing: antialiased;
}
.serif{
  font-family: $secondary-font;
}
a{
  color: #FFF;
}
h1, h2, h3, h4{
  font-family: $secondary-font;
}
h2{

}
a{
  text-decoration: none;
}
.text{
a{
  color: #000;
}
h2{
  font-size: 18pt;
}
  p{
    width: 100%;
    font-family: $primary-font;
    font-weight: 200;
    margin-bottom: 1.2em;
  }
  img{
    max-width: 60%;
    height: auto;
    margin: 0 auto;
  }
  em{
    font-size: 12pt;
    letter-spacing: 2pt;
    position: relative;
    text-transform: uppercase;
    font-weight: 100;
  }
  em:after{
    position: absolute;
    width: 50px;
    height: 1px;
    background: #212a2e;
    content: "";
    bottom: -8px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

}
