/*_variables.scss */
/* Body Text Styles */
$default-transition-duration : 250ms;
$default-background-size : cover;
$text-color: #fff;
$primary-font-size: 30px;
$primary-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$secondary-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$primary-font-weight: 300;
$primary-color: #000000;
$secondary-color: #eaeaea;
$tertiary-color: #1a2431;
$main-content-width: 1200px;
